{% extends 'index.html' %}
{% load static %}

{% block extracss %}
<!---Custom CSS-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block titulo1 %}
<h2 class="title-app">
    <strong>
        <i class="fa fa-users" aria-hidden="true"></i> INFORMACIÓN DE USUARIOS
    </strong>
</h2>
{% endblock %}

{% block cuerpo %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div style="float: right;">
                <a href="/usuario/registrar/usuario" class="btn btn-primary create" role="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Crear Nuevo
                </a>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="datatable-keytable" class="table table-striped table-bordered">
        <thead>
            <tr class="table-enc">
                <th class="centered">Nro.</th>
                <th class="centered">Nombres</th>
                <th class="centered">Apellidos</th>
                <th class="centered">Correo Electrónico</th>
                <th class="centered">Nombre de Usuario</th>
                <th class="centered">Estado</th>
                <th class="centered">Opciones</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

<div class="modal fade" id="creacion" role="dialog" >

</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="detalle" role="dialog" >

</div>
<div class="modal fade" id="eliminacion" rol="dialog">

</div>
{% endblock %}

{% block extrajs %}
    <!---Custom JS-->
    <script src="{% static 'js/usuario/usuario.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}