{% extends 'index.html' %}
{% load static %}

{% block titulo1 %}
<h2><strong>REGISTRO DE ASIGNACIÓN DE VEHÍCULOS A CHOFERES</strong></h2>
{% endblock %}

{% block cuerpo %}
<form id="form_creacion" action="{% url 'registrar-asignacion' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar();">Confirmar</button>
        <a href="/asignacion/listar/asignaciones" class="btn btn-danger" role="button">Cancelar</a>
    </div>
</form>
{% endblock %}
{% block extrajs %}
    <!---Custom JS-->
    <script src="{% static 'js/asignacion/asignacion.js' %}"></script>
    <script>
        $(document).ready(function () 
        {
            if($("#id_devolucion").prop("disabled", false)) {
                $("#id_devolucion").prop("disabled", true);
                $("#birthdatepicker2").prop("disabled", true);    
            }
        });
    </script>
{% endblock %}