<div class="modal-dialog modal-default nk-red">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
            <p id="texto_modal_eliminacion">¿Desea eliminar {{ object }} ?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" class="btn btn-default" data-dismiss="modal" data-from="button" data-align="rigth"
                onclick="eliminar()"><strong>CONFIRMAR ELIMINACIÓN</strong></button>
            <button type="button" class="btn btn-primary" class="btn btn-default" data-dismiss="modal"><strong>CANCELAR</strong></button>
        </div>
    </div>
</div>
