{% extends "index.html" %}

{%block titulo1%}
  <h2><strong>LISTA DE SECRETARÍAS Y UNIDADES</strong></h2>
{% endblock %}

{% block cuerpo %}
</div>
<!--Tablas-->
  <div class="x_content" align="center">
      <select class="chosen-select" id="codSec">
        <option aling="center">--------------------------------------------------SELECCIONE UNA SECRETARÍA-----------------------------------------</option>
          {% for i in secre %}
            <option value="{{i.id}}" aling="center">{{ i.nombre_secretaria }}</option>
          {% endfor %} 
      </select> 
    </br>
  </div>
  <table border="5" cellspacing="2" class="table table-striped jambo_table bulk_action">
    <thead>
      <tr class="headings">
        <th class="column-title" style="text-align:center">Nº</th>
        <th class="column-title" style="text-align:center">UNIDADES</th>
      </tr>
    </thead>
    <tbody name="unidad" id="unidad">
      <!--Listado de las unidades mediante ajax-->
    </tbody>
  </table>
</div>
{% endblock %}   
{% block extrajs %}
<script>
  $(document).ready(function(){
    $("#codSec").css("width", "95%"); 
  });
</script>

<script type="text/javascript">
    $('#codSec').on('change', cambiar);
        function cambiar(){
          var aux = $(this).val();
          console.log(aux);
          $.ajax({
            data:{'id': aux},
            url:'/principal/lista_unidades',
            type: 'get',
            success: function(data){
              var html = ''
              var html_n = ''
              for (var i = 0; i < data.length;i++)
              {
                html += '<tr class="headings"><td align="center">'+[i+1]+'</td><td align="center">'+data[i].fields.nombre_unidad+'</td></tr>'; 
              }
              console.log(data);
              $('#unidad').html(html);
              $('#unidad').trigger("chosen:updated");
            },
            error: function() {
              // Manejar el error aquí
              console.log('Ha ocurrido un error');
            }
          });
        }
</script>
{% endblock %}	
