{% extends 'index.html' %}
{% load static %}

{% block titulo1 %}
<h2><strong>REGISTRO DE VEHÍCULOS</strong></h2>
{% endblock %}

{% block cuerpo %}
<form id="form_creacion" action="{% url 'principal-registrar-vehiculo' %}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_clase_vehiculo">CLASE DE VEHÍCULO:</label>
            {{ form.clase_vehiculo }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_marca">MARCA:</label>
            {{ form.marca }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_tipo_vehiculo">TIPO DE VEHÍCULO:</label>
            {{ form.tipo_vehiculo }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_procedencia">PROCEDENCIA:</label>
            {{ form.procedencia }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_modelo">MODELO DEL VEHÍCULO:</label>
            {{ form.modelo}}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_color">COLOR:</label>
            {{ form.color }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_placa">PLACA:</label>
            {{ form.placa }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_cilindrada">CILINDRADA:</label>
            {{ form.cilindrada }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_numero_motor">NÚMERO DE MOTOR:</label>
            {{ form.numero_motor }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_numero_chasis">NÚMERO DE CHASIS:</label>
            {{ form.numero_chasis }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_estado_vehiculo">ESTADO DEL VEHÍCULO:</label>
            {{ form.estado_vehiculo }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_observaciones">OBSERVACIONES:</label>
            {{ form.observaciones }}
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        <!-- <button id="boton_creacion" class="btn btn-primary" type="submit">GUARDAR</button>-->
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar();">Confirmar</button>
        <a href="/principal/listar/vehiculos" class="btn btn-danger" role="button">Cancelar</a>
    </div>
</form>
{% endblock %}
{% block extrajs %}
    <!---Custom JS-->
    <script src="{% static 'js/vehiculo/vehiculo.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_marca').on('keyup', function() {
                let inputVal = $(this).val();
                let uppercaseVal = inputVal.toUpperCase();
                $(this).val(uppercaseVal);
            });
            $('#id_tipo_vehiculo').on('keyup', function() {
                let inputVal = $(this).val();
                let uppercaseVal = inputVal.toUpperCase();
                $(this).val(uppercaseVal);
            });
            $('#id_procedencia').on('keyup', function() {
                let inputVal = $(this).val();
                let uppercaseVal = inputVal.toUpperCase();
                $(this).val(uppercaseVal);
            });
            $('#id_placa').on('keyup', function() {
                let inputVal = $(this).val();
                let uppercaseVal = inputVal.toUpperCase();
                $(this).val(uppercaseVal);
            });
            $('#id_numero_motor').on('keyup', function() {
                let inputVal = $(this).val();
                let uppercaseVal = inputVal.toUpperCase();
                $(this).val(uppercaseVal);
            });
            $('#id_numero_chasis').on('keyup', function() {
                let inputVal = $(this).val();
                let uppercaseVal = inputVal.toUpperCase();
                $(this).val(uppercaseVal);
            });
        });
    </script>
{% endblock %}