{% load static %}
{% block extracss %}
<!---Custom CSS-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Detalle de Vehículo: {{ object.clase_vehiculo }}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table" id="table-detalle">
                <thead>
                    <tr>
                        <th colspan="2">Información de {{ object.clase_vehiculo }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">CLASE DE VEHÍCULO</th>
                        <td>{{ vehiculo.clase_vehiculo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">MARCA</th>
                        <td>{{ vehiculo.marca }}</td>
                    </tr>
                    <tr>
                        <th scope="row">TIPO DE VEHÍCULO</th>
                        <td>{{ vehiculo.tipo_vehiculo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">PROCEDENCIA</th>
                        <td>{{ vehiculo.procedencia }}</td>
                    </tr>
                    <tr>
                        <th scope="row">MODELO DEL VEHÍCULO</th>
                        <td>{{ vehiculo.modelo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">COLOR</th>
                        <td>{{ vehiculo.color }}</td>
                    </tr>
                    <tr>
                        <th scope="row">PLACA</th>
                        <td>{{ vehiculo.placa }}</td>
                    </tr>
                    <tr>
                        <th scope="row">CILINDRADA</th>
                        <td>{{ vehiculo.cilindrada }}</td>
                    </tr>
                    <tr>
                        <th scope="row">NÚMERO DE MOTOR</th>
                        <td>{{ vehiculo.numero_motor }}</td>
                    </tr>
                    <tr>
                        <th scope="row">NÚMERO DE CHASIS</th>
                        <td>{{ vehiculo.numero_chasis }}</td>
                    </tr>
                    <tr>
                        <th scope="row">ESTADO DEL VEHÍCULO</th>
                        <td>{{ vehiculo.estado_vehiculo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">OBSERVACIONES</th>
                        <td>{{ vehiculo.observaciones }}</td>
                    </tr>
                </tbody>
            </table>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" onclick="cerrar_modal_detalle();">Volver</button>
        </div>
    </div>
</div>