{% extends 'index.html' %}
{% load static %}

{% block titulo1 %}
<h2><strong>Edición de: {{ object }}</strong></h2>
{% endblock %}

{% block cuerpo %}
<form id="form_edicion" action="{% url 'principal-actualizar-vehiculo' object.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_clase_vehiculo">CLASE DE VEHÍCULO:</label>
            {{ form.clase_vehiculo }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_marca">MARCA:</label>
            {{ form.marca }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_tipo_vehiculo">TIPO DE VEHÍCULO:</label>
            {{ form.tipo_vehiculo }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_procedencia">PROCEDENCIA:</label>
            {{ form.procedencia }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_modelo">MODELO DEL VEHÍCULO:</label>
            {{ form.modelo}}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_color">COLOR:</label>
            {{ form.color }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_placa">PLACA:</label>
            {{ form.placa }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_cilindrada">CILINDRADA:</label>
            {{ form.cilindrada }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_numero_motor">NÚMERO DE MOTOR:</label>
            {{ form.numero_motor }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_numero_chasis">NÚMERO DE CHASIS:</label>
            {{ form.numero_chasis }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_estado_vehiculo">ESTADO DEL VEHÍCULO:</label>
            {{ form.estado_vehiculo }}
        </div>
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="id_observaciones">OBSERVACIONES:</label>
            {{ form.observaciones }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar();">Confirmar</button>
            <a href="/principal/inicio/vehiculos" class="btn btn-danger" role="button">Cancelar</a>
            <!--<button id="boton_creacion" class="btn btn-primary" type="submit">Confirmar</button>-->
        </div>
    </div>
</form>
{% endblock %}

{% block extrajs %}
    <!---Custom JS-->
    <script src="{% static 'js/vehiculo/vehiculo.js' %}"></script>
{% endblock %}