{% extends 'index.html' %}
{% load static %}

{% block extracss %}
<!---Custom CSS-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block titulo1 %}
<h2><strong>EDICIÓN DE {{ object }}</strong></h2>
{% endblock %}

{% block cuerpo %}
<form id="form_edicion" action="{% url 'principal-actualizar-vehiculo' object.pk %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="form-row">
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="proveedor">CLASE DE VEHÍCULO:</label>
                {{ form.clase_vehiculo }}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="producto">MARCA:</label>
                {{ form.marca }}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="direccion">TIPO DE VEHÍCULO:</label>
                {{ form.tipo_vehiculo }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="proveedor">PROCEDENCIA:</label>
                {{ form.procedencia }}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="producto">MODELO DEL VEHÍCULO:</label>
                {{ form.modelo}}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="direccion">COLOR:</label>
                {{ form.color }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="proveedor">PLACA:</label>
                {{ form.placa }}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="producto">CILINDRADA:</label>
                {{ form.cilindrada }}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="direccion">NÚMERO DE MOTOR:</label>
                {{ form.numero_motor }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="proveedor">NÚMERO DE CHASIS:</label>
                {{ form.numero_chasis }}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="producto">ESTADO DEL VEHÍCULO:</label>
                {{ form.estado_vehiculo }}
            </div>
            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                <label for="direccion">OBSERVACIONES:</label>
                {{ form.observaciones }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar();">Confirmar</button>
            <a href="/principal/inicio/vehiculos" class="btn btn-danger" role="button">Cancelar</a>
            <!--<button id="boton_creacion" class="btn btn-primary" type="submit">Confirmar</button>-->
        </div>
    </div>
</form>
{% endblock %}

{% block extrajs %}
    <!---Custom JS-->
    <script src="{% static 'js/vehiculo/vehiculo.js' %}"></script>
{% endblock %}