<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>GENERAL</h3>
        <ul class="nav side-menu">
            <li><a href="{% url 'index' %}" ><i class="fa fa-home"></i>Inicio</a></li>
            <li><a><i class="fa fa-briefcase" aria-hidden="true"></i>Administrador<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{% url 'inicio-usuario' %}">Usuarios</a></li>
                    <li><a href="{% url 'principal-inicio-secretaria' %}">Secretarias</a></li>
                    <li><a href="{% url 'principal-inicio-unidad' %}">Unidades</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-sort-amount-asc"></i>Asignación de vehículo<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{% url 'principal-inicio-chofer' %}">Choferes</a></li>
                    <li><a href="{% url 'principal-inicio-vehiculo' %}">Vehículos</a></li>
                    <li><a href="{% url 'inicio-asignacion' %}">Asignación de Vehículos</a></li>
                    <li><a>Cambio de Aceite<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url 'asignacion-inicio-mecanico' %}">Mecánicos</a></li>
                            <li><a href="{% url 'asignacion-inicio-cambioaceite' %}">Orden Cambio de Aceite</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>