{% extends 'index.html' %}
{% load static %}

{% block titulo1 %}
<h2><strong>Edición de cambio de aceite: {{ object }}</strong></h2>
{% endblock %}

{% block cuerpo %}
<form id="form_edicion" action="{% url 'asignacion-actualizar-cambioaceite' object.id %}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="id_vehiculo_id">VEHÍCULO:</label>
            {{ form.vehiculo_id }}
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="id_chofer_id">CHOFER:</label>
            {{ form.chofer_id }}
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="id_mecanico_id">MECÁNICO:</label>
            {{ form.mecanico_id }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="id_km_actual">KM ACTUAL:</label>
            {{ form.km_actual }}
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="id_proximo_cambio">PRÓXIMO CAMBIO:</label>
            {{ form.proximo_cambio }}
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="id_maestranza">MAESTRANZA:</label>
            {{ form.maestranza }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2 col-sm-3 col-xs-12">
            <label for="id_cambio_filtros">CAMBIO FILTROS:</label>
            {{ form.cambio_filtros }}
        </div>
        <div class="form-group col-md-3 col-sm-2 col-xs-12">
            <label for="id_aceite">ACEITE:</label>
            {{ form.aceite }}
        </div>
        <div class="form-group col-md-3 col-sm-2 col-xs-12">
            <label for="id_caja">CAJA:</label>
            {{ form.caja }}
        </div>
        <div class="form-group col-md-2 col-sm-2 col-xs-12">
            <label for="id_corona">CORONA:</label>
            {{ form.corona }}
        </div>
        <div class="form-group col-md-2 col-sm-3 col-xs-12">
            <label for="id_engrase">ENGRASE:</label>
            {{ form.engrase }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2 col-sm-2 col-xs-12">
            <label for="id_fecha_hora_entrada">FECHA ENTRADA:</label>
            {{ form.fecha_hora_entrada }}
        </div>
        <div class="form-group col-md-2 col-sm-2 col-xs-12">
            <label for="id_hora_salida">HORA SALIDA:</label>
            {{ form.hora_salida }}
        </div>
        <div class="form-group col-md-6 col-sm-5 col-xs-12">
            <label for="id_unidad_id">UNIDAD:</label>
            {{ form.unidad_id }}
        </div>
        <div class="form-group col-md-2 col-sm-3 col-xs-12">
            <label for="id_aprobado">ORDEN APROBADA:</label>
            {{ form.aprobado }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar();">Confirmar</button>
            <a href="/asignacion/listar/cambioaceite" class="btn btn-danger" role="button">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}

{% block extrajs %}
    <!---Custom JS-->
    <script src="{% static 'js/cambioaceite/cambioaceite.js' %}"></script>
    <script>
        $(document).ready(function() {
            let texto = $('#id_vehiculo_id').find('option:selected').text();
            let partes = texto.split('-');
            let parteSeleccionada = partes[2];
            
            let isChecked = $('#id_aprobado').is(":checked");
            if (isChecked){
                $("input[type=text], input[type=number], input[type=date], input[type=time]").prop("readonly", isChecked);
                $("#id_vehiculo_id").prop("disabled", true);
                $("#id_chofer_id").prop("disabled", true);
                $("#id_mecanico_id").prop("disabled", true);
                $("#id_cambio_filtros").prop("disabled", true);
                $("#id_aceite").prop("disabled", true);
                $("#id_caja").prop("disabled", true);
                $("#id_corona").prop("disabled", true);
                $("#id_engrase").prop("disabled", true);
                $("#id_unidad_id").prop("disabled", true);
                $("#id_aprobado").prop("disabled", true);
            }
            else{
                $("#id_vehiculo_id").on('mousedown', function(e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                }).on('click', function(e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                });
                $("#id_chofer_id").on('mousedown', function(e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                }).on('click', function(e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                });
                $("#id_unidad_id").on('mousedown', function(e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                }).on('click', function(e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                });
            }
            $('#id_km_actual').on('input', function() {
                var kmActual = parseInt($(this).val());
                var proximoCambio = parseInt($('#id_proximo_cambio').val());
                var longitudActual = $(this).val().length;
                if (parteSeleccionada !== NaN){
                    if (parteSeleccionada === "MOTOCICLETA"){
                        if (longitudActual === 0){
                            $('#id_proximo_cambio').val(longitudActual + 1000);
                        }
                        else if(longitudActual === 1 && kmActual >= proximoCambio){
                            $('#id_proximo_cambio').val(1000);
                            kmActual = parseInt($(this).val());
                            let pc1 = parseInt($('#id_proximo_cambio').val());
                            var suma = kmActual + pc1;
                            $('#id_proximo_cambio').val(suma);
                        }
                        else if(longitudActual === 2 && kmActual >= proximoCambio){
                            $('#id_proximo_cambio').val(1000);
                            kmActual = parseInt($(this).val());
                            let pc2 = parseInt($('#id_proximo_cambio').val());
                            var suma = kmActual + pc2;
                            $('#id_proximo_cambio').val(suma);
                        }
                        else if(longitudActual === 3 && kmActual >= proximoCambio){
                            $('#id_proximo_cambio').val(1000);
                            kmActual = parseInt($(this).val());
                            let pc3 = parseInt($('#id_proximo_cambio').val());
                            var suma = kmActual + pc3;
                            $('#id_proximo_cambio').val(suma);
                        }
                        else if( longitudActual >= 4 && kmActual >= proximoCambio){
                            $('#id_proximo_cambio').val(1000);
                            kmActual = parseInt($(this).val());
                            let pc4 = parseInt($('#id_proximo_cambio').val());
                            var suma = kmActual + pc4;
                            $('#id_proximo_cambio').val(suma);
                            console.log('aqui');
                        }
                    }
                    else{
                        if (longitudActual === 0){
                            $('#id_proximo_cambio').val(longitudActual + 5000);
                        }
                        else if(longitudActual === 1 && kmActual >= proximoCambio){
                            $('#id_proximo_cambio').val(5000);
                            let pc = $('#id_proximo_cambio').val();
                            kmActual = parseInt($(this).val());
                            var suma = kmActual + parseInt(pc);
                            $('#id_proximo_cambio').val(suma);
                        }
                        else if(longitudActual === 2 && kmActual >= proximoCambio){
                            $('#id_proximo_cambio').val(5000);
                            let pc = $('#id_proximo_cambio').val();
                            kmActual = parseInt($(this).val());
                            var suma = kmActual + parseInt(pc);
                            $('#id_proximo_cambio').val(suma);
                        }
                        else if(longitudActual >= 3 && kmActual >= proximoCambio){
                            $('#id_proximo_cambio').val(5000);
                            let pc = $('#id_proximo_cambio').val();
                            kmActual = parseInt($(this).val());
                            var suma = kmActual + parseInt(pc);
                            $('#id_proximo_cambio').val(suma);
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}