{% extends 'index.html' %}
{% load static %}

{% block link %}

{% endblock %}
{% block extracss %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
<!---Custom CSS-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<body id="body-login">
    <div id="row-login" class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 d-flex">
            <div id="main-card" class="card">
                <div>
                    <img class="card-img-top" src="{% static 'images/logo.png' %}" alt="logo-gobernacion">
                </div>
                <div id="titulo-login" class="card-body">
                    <h2 style="margin-top: 10px; ">
                        <strong>SICOVE</strong>
                    </h2>
                    <strong>Sistema Web de Control de Choferes y Vehículos</strong>
                    <div style="font-family: Arial, Helvetica, sans-serif; margin-top: 10px;">
                        Gobierno Autónomo Departamental de Potosí
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="contenido-login">
                <div class="form-login">
                    <div class="text-login">
                        <h3><strong>Iniciar Sesión</strong></h3>
                        <p>Ingrese su Nombre de Usuario y Contraseña</p>
                    </div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" aria-label="Close" onclick="eliminar_ad();">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Advertencia: </strong>
                                <ul class="errorlist">
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_username">Nombre de Usuario:</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="id_password">Contraseña:</label>
                            {{ form.password }}
                        </div>
                        <p class="auth-submit">
                            <input type="submit" value="Iniciar Sesión">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function eliminar_ad(){
            $(".alert").alert('close');
            //$(".alert").remove();
        }
    </script>
    {% endblock %}
</body>
{% endblock %}
